<!DOCTYPE HTML>
<html layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="#{day.list.headline}" />
</head>
<body>
<div layout:fragment="content">
  <div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" th:text="#{day.list.headline}" />
  </div>
  <div th:if="${days.empty}" th:text="#{deal.list.empty}" />
  <form method="get" th:action="${#httpServletRequest.requestURI}">
    <select class="form-select" name="dayOfWeek">
      <option th:text="#{day.empty.label}" value=""/>
      <option th:each="dow : ${T(java.time.DayOfWeek).values()}"
              th:text="${T(com.humegatech.mpls_food.util.MplsFoodUtils).capitalizeFirst(dow)}" th:value="${dow}"></option>
    </select>
    <input class="btn btn-primary mt-4" th:value="#{day.filter}" type="submit" />
  </form>
  <div class="table-responsive" th:if="${!days.empty}">
    <table class="table table-striped table-hover">
      <thead>
      <tr>

        <th scope="col" th:text="#{deal.dish.label}" />
        <th scope="col" th:text="#{deal.description.label}" />
        <th scope="col" th:text="#{deal.place.label}" />
        <th scope="col" th:text="#{deal.day.label}" />
        <th><!-- --></th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="day : ${days}">

        <td th:text="${day.dish}" />
        <td th:text="${day.dealDescription}" />
        <td th:text="${day.placeName}" />
        <td th:text="${day.dayOfWeekDisplay}" />
        <td>
          <div sec:authorize="isAuthenticated()">
            <div sec:authorize="hasRole('ROLE_ADMIN')">
              <form class="js-submit-confirm float-end" method="post" th:action="@{/days/delete/{id}(id=${day.id})}" th:data-confirm-message="#{delete.confirm}">
                <a class="btn btn-sm btn-info" th:href="@{/deals/edit/{id}(id=${day.deal})}" th:text="#{deal.list.edit}" />
                <button class="btn btn-sm btn-danger" th:text="#{deal.list.delete}" type="submit" />
              </form>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>
