<!DOCTYPE HTML>
<html layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{place.add.headline}" />
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1" th:text="#{place.add.headline}" />
                <div>
                    <a class="btn btn-secondary" th:href="@{/places}" th:text="#{place.add.back}" />
                </div>
            </div>
            <div th:replace="fragments/forms::globalErrors('place')" />
            <form method="post" th:action="${#httpServletRequest.requestURI}">
                <div th:replace="fragments/forms::inputRow(object='place', field='name')" />
                <div th:replace="fragments/forms::inputRow(object='place', field='address', type='textarea')" />
                <div th:replace="fragments/forms::inputRow(object='place', field='website')" />
                <div th:replace="fragments/forms::inputRow(object='place', field='rewardType', type='select')" />
                <div th:replace="fragments/forms::inputRow(object='place', field='rewardNotes', type='textarea')" />
                <div th:replace="fragments/forms::inputRow(object='place', field='app', type='checkbox')" />
                <div th:replace="fragments/forms::inputRow(object='place', field='orderAhead', type='checkbox')" />
                <input class="btn btn-primary mt-4" th:value="#{place.add.headline}" type="submit" />
            </form>
        </div>
    </body>
</html>
