<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title th:text="#{place.edit.headline}" />
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 th:text="#{place.edit.headline}" class="flex-grow-1" />
                <div>
                    <a th:href="@{/places}" th:text="#{place.edit.back}" class="btn btn-secondary" />
                </div>
            </div>
            <div th:replace="fragments/forms::globalErrors('place')" />
            <form th:action="${#httpServletRequest.requestURI}" method="post">
                <div th:replace="fragments/forms::inputRow(object='place', field='name')" />
                <div th:replace="fragments/forms::inputRow(object='place', field='address', type='textarea')" />
                <input type="submit" th:value="#{place.save.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
