<!DOCTYPE HTML>
<html lang="en" layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{place.list.headline}" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" rel="stylesheet">
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1" th:text="#{place.list.headline}" />
                <div sec:authorize="isAuthenticated()">
                    <div sec:authorize="hasRole('ROLE_USER')">
                        <a class="btn btn-primary ms-2" th:href="@{/places/add}" th:text="#{place.list.createNew}" />
                    </div>
                </div>
            </div>
            <div th:if="${places.empty}" th:text="#{place.list.empty}" />
            <div class="table-responsive" th:if="${!places.empty}">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col" th:text="#{place.name.label}" />
                            <th scope="col" th:text="#{place.address.label}" />
                            <th scope="col" th:text="#{place.orderAhead.label}" />
                            <th scope="col" th:text="#{reward.label}" />
                            <th sec:authorize="isAuthenticated()"><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="place-row" th:each="place : ${places}">
                            <td class="place-name" ><a th:href="@{/places/show/{id}(id=${place.id})}"
                                                      th:text="${place.name}" /></td>
                            <td class="place-address" th:text="${place.truncatedAddress}" />
                            <td>
                                <i class="bi bi-check-circle-fill order-ahead-ind" th:if="${place.orderAhead}"></i>
                            </td>
                            <td>
                                <i class="bi bi-check-circle-fill rewards-ind" th:if="${null != place.rewardType}"></i>
                            </td>
                            <td sec:authorize="hasRole('ROLE_ADMIN')" style="white-space:nowrap">
                                <form class="js-submit-confirm float-end" method="post"
                                      th:action="@{/places/delete/{id}(id=${place.id})}"
                                      th:data-confirm-message="#{delete.confirm}">
                                    <a class="btn btn-sm btn-info" th:href="@{/places/edit/{id}(id=${place.id})}">
                                        <i class="bi bi-pencil"></i>
                                    </a>
                                    <button class="btn btn-sm btn-danger" type="submit"><i class="bi bi-trash"></i></button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
