<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title th:text="#{deal.add.headline}" />
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 th:text="#{deal.add.headline}" class="flex-grow-1" />
                <div>
                    <a th:href="@{/deals}" th:text="#{deal.add.back}" class="btn btn-secondary" />
                </div>
            </div>
            <div th:replace="fragments/forms::globalErrors('deal')" />
            <form th:action="${#httpServletRequest.requestURI}" method="post">
                <div th:replace="fragments/forms::inputRow(object='deal', field='description', type='textarea')" />
                <div th:replace="fragments/forms::inputRow(object='deal', field='sunday', type='checkbox')" />
                <div th:replace="fragments/forms::inputRow(object='deal', field='monday', type='checkbox')" />
                <div th:replace="fragments/forms::inputRow(object='deal', field='tuesday', type='checkbox')" />
                <div th:replace="fragments/forms::inputRow(object='deal', field='wednesday', type='checkbox')" />
                <div th:replace="fragments/forms::inputRow(object='deal', field='thursday', type='checkbox')" />
                <div th:replace="fragments/forms::inputRow(object='deal', field='friday', type='checkbox')" />
                <div th:replace="fragments/forms::inputRow(object='deal', field='saturday', type='checkbox')" />
                <div th:replace="fragments/forms::inputRow(object='deal', field='place', type='select')" />
                <input type="submit" th:value="#{deal.add.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
