<!DOCTYPE HTML>
<html layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="#{deal.copy.headline}" />
</head>
<body>
<div layout:fragment="content">
  <div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" th:text="#{deal.copy.headline}" />
    <div>
      <a class="btn btn-secondary" th:href="@{/deals}" th:text="#{deal.add.back}" />
    </div>
  </div>
  <div th:replace="fragments/forms::globalErrors('deal')" />
  <form method="post" th:action="${#httpServletRequest.requestURI}">
    <div class="row mb-3">
      <label class="col-md-2 col-form-label" for="places" th:text="#{place.list.headline}"/>
      <div class="col-md-10">
        <select class="form-select" id="places" multiple="multiple" name="places">
          <option th:each="place : ${placeValues}" th:text="${place.value}" th:value="${place.key}" />
        </select>
      </div>
    </div>
    <input class="btn btn-primary mt-4" th:value="#{deal.copy.headline}" type="submit" />
  </form>
</div>
</body>
</html>
