<!DOCTYPE HTML>
<html layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{deal.edit.headline}" />
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1" th:text="#{deal.edit.headline}" />
                <div>
                    <a class="btn btn-secondary" th:href="@{/deals}" th:text="#{deal.edit.back}" />
                </div>
            </div>
            <div th:replace="fragments/forms::globalErrors('deal')" />
            <form method="post" th:action="${#httpServletRequest.requestURI}">
                <div th:replace="fragments/forms::inputRow(object='deal', field='description', type='textarea')" />
                <div th:replace="fragments/forms::inputRow(object='deal', field='dish', type='text')" />
                <div th:replace="fragments/forms::inputRow(object='deal', field='cuisine', type='text')" />
                <div th:replace="fragments/forms::inputRow(object='deal', field='place', type='select')" />
                <div th:replace="fragments/forms::inputRow(object='deal', field='minPrice', type='text')" />
                <div th:replace="fragments/forms::inputRow(object='deal', field='maxPrice', type='text')" />
                <div th:replace="fragments/forms::inputRow(object='deal', field='minDiscount', type='text')" />
                <div th:replace="fragments/forms::inputRow(object='deal', field='maxDiscount', type='text')" />
                <div th:replace="fragments/forms::inputRow(object='deal', field='minDiscountPercent', type='text')" />
                <div th:replace="fragments/forms::inputRow(object='deal', field='maxDiscountPercent', type='text')" />
                <div th:replace="fragments/forms::inputRow(object='deal', field='verified', type='checkbox')" />
                <div th:replace="fragments/forms::inputRow(object='deal', field='taxIncluded', type='checkbox')" />
                <div>Days Deal is Active</div>
                <div th:replace="fragments/forms::inputRow(object='deal', field='sunday', type='checkbox')" />
                <div th:replace="fragments/forms::inputRow(object='deal', field='monday', type='checkbox')" />
                <div th:replace="fragments/forms::inputRow(object='deal', field='tuesday', type='checkbox')" />
                <div th:replace="fragments/forms::inputRow(object='deal', field='wednesday', type='checkbox')" />
                <div th:replace="fragments/forms::inputRow(object='deal', field='thursday', type='checkbox')" />
                <div th:replace="fragments/forms::inputRow(object='deal', field='friday', type='checkbox')" />
                <div th:replace="fragments/forms::inputRow(object='deal', field='saturday', type='checkbox')" />
                <input class="btn btn-primary mt-4" th:value="#{deal.save.headline}" type="submit" />
            </form>
            </p>
            <div class="d-flex flex-wrap mb-4">
                <form enctype="multipart/form-data" method="post" th:action="@{/uploads/{id}(id=${deal.id})}">
                    <input class="form-control btn btn-secondary" id="formFile" name="file" type="file">
                    <input class="btn btn-primary mt-4" th:value="#{deal.upload}" type="submit"  id="fileUploadButton"/>
                </form>
            </div>
            <div th:each="upload : ${deal.uploads}">
                <img th:src="@{/uploads/{id}(id=${upload.id})}" style="width:300px" alt=""/>
            </div>
        </div>
    </body>
</html>
