<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title th:text="#{deal.edit.headline}" />
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 th:text="#{deal.edit.headline}" class="flex-grow-1" />
                <div>
                    <a th:href="@{/deals}" th:text="#{deal.edit.back}" class="btn btn-secondary" />
                </div>
            </div>
            <div th:replace="fragments/forms::globalErrors('deal')" />
            <form th:action="${#httpServletRequest.requestURI}" method="post">
                <div th:replace="fragments/forms::inputRow(object='deal', field='description', type='textarea')" />
                <div th:replace="fragments/forms::inputRow(object='deal', field='sunday')" />
                <div th:replace="fragments/forms::inputRow(object='deal', field='monday')" />
                <div th:replace="fragments/forms::inputRow(object='deal', field='tuesday')" />
                <div th:replace="fragments/forms::inputRow(object='deal', field='wednesday')" />
                <div th:replace="fragments/forms::inputRow(object='deal', field='thursday')" />
                <div th:replace="fragments/forms::inputRow(object='deal', field='friday')" />
                <div th:replace="fragments/forms::inputRow(object='deal', field='saturday')" />
                <div th:replace="fragments/forms::inputRow(object='deal', field='place', type='select')" />
                <input type="submit" th:value="#{deal.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
