<!DOCTYPE HTML>
<html layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{deal.list.headline}" />
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1" th:text="#{deal.list.headline}" />
                <div sec:authorize="isAuthenticated()">
                    <div sec:authorize="hasRole('ROLE_ADMIN')">
                        <a class="btn btn-primary ms-2" th:href="@{/deals/add}" th:text="#{deal.list.createNew}" />
                    </div>
                </div>
            </div>
            <div th:if="${deals.empty}" th:text="#{deal.list.empty}" />
            <div class="table-responsive" th:if="${!deals.empty}">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col" th:text="#{deal.description.label}" />
                            <th scope="col" th:text="#{deal.place.label}" />
                            <th scope="col" th:text="#{deal.days.label}" />
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="deal : ${deals}">
                            <td th:text="${deal.description}" />
                            <td th:text="${deal.place.name}" />
                            <td th:text="${deal.daysDisplay}" />
                                <td>
                                    <div sec:authorize="isAuthenticated()">
                                        <div sec:authorize="hasRole('ROLE_ADMIN')">
                                        <form class="js-submit-confirm float-end" method="post" th:action="@{/deals/delete/{id}(id=${deal.id})}" th:data-confirm-message="#{delete.confirm}">
                                            <a class="btn btn-sm btn-info" th:href="@{/deals/edit/{id}(id=${deal.id})}" th:text="#{deal.list.edit}" />
                                            <button class="btn btn-sm btn-danger" th:text="#{deal.list.delete}" type="submit" />
                                        </form>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
